<h1>All Songs</h1>
<% @songs.each do |song| %>
<div class='song'>
  <%= song.title %> 
  <small>added by: <%= song.user.email %></small> 
  <% if song.url %>
    <a href='<%= song.url %>'>url</a>
  <% end %>
  
  <%= song.votes %> 

  <% if session[:user] %>
    <form method='post' action="/songs/upvote/<%= song.id %>"><input class="btn btn-success btn-xs" type="submit" name="upvote" value="Upvote"></form>
  <% end %>

  <% if @upvote && @upvote.errors.any? %>
  <div class="error">Error message</div>
  <% end %>

</div>
<% end %>