<h2>
<%= @song.title %> 
<span class="badge"><%= @song.upvotes_count %> votes</span>
</h2>

<p>added by: <%= @song.user.email %>
<% if @song.url %>
  <a href='<%= @song.url %>'>url</a>
<% end %>
 created at: <%= @song.created_at %>
 updated at: <%= @song.updated_at %></p>

<div class='review'>
<% if @new_review.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong>Some issues with your review, please fix them:</strong>
    <ul>
      <% @new_review.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/review/<%= @song.id %>">
  <div class='form-group'>
    <label>Title</label>
    <input type="text" name="content" class="form-control" placeholder='review' value="<%= @new_review.content %>">
  </div>
  <div class='form-group'>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>


<h4>reviews</h4>
<ul class="media-list list-group">
<% @reviews.each do |review| %>
<li class="media list-group-item">
  <div class="media-left">
    <%= review.user.email %>
  </div>
  <div class="media-body">
    <!-- <h4 class="media-heading"></h4> -->
    <%= review.content %>
  </div>
</li>
<% end %>
</ul>

</div>