<h2><%= @song.title %> <span class="badge"><%= @song.upvotes_count %> votes</span></h2>

<p>added by: <%= @song.user.email %>
<% if @song.url %>
  <a href='<%= @song.url %>'>url</a>
<% end %>
 created at: <%= @song.created_at %>
 updated at: <%= @song.updated_at %></p>

<div class='review'>
<% if @new_review.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong>Some issues with your review, please fix them:</strong>
    <ul>
      <% @new_review.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<h3>Reviews</h3>
<% if session[:user_id] && @reviews.find_by(user_id: session[:user_id]).nil? %>
  <h4>Add yours</h4>
  <form method="post" action="/review/<%= @song.id %>">
    <div class='form-group'>
      <label>Add review:</label>
      <textarea class="form-control" rows="3" name="content" placeholder='review' value="<%= @new_review.content %>"></textarea>
    </div>
    <div class='form-group'>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
<% end %>

<ul class="media-list list-group">
<% @reviews.each do |review| %>
  <li class="media list-group-item">
    <div class="media-left">
      <%= review.user.email %>
    </div>
    <div class="media-body">
      <%= review.content %>
    </div>
  </li>
<% end %>
</ul>

</div>